<% provide(:title, 'Contact Me') %>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>

      <h3 class="text-center">Have a quick message for me?</h3>
      <%= form_for(@message, url: {action: "message"}, method: :post) do |f| %>
        <div class="form-group">
          <div class="row">
            <% msg = @message.errors.full_messages_for(:first_name) %>
            <div class="form-group <%= 'has-error' if msg.count > 0 %>">
              <div class="col-md-12">
                <%= f.label :name, 'Name*' %>
              </div>
              <div class="col-md-6">
                <%= f.text_field :first_name, class: "form-control", placeholder: "First Name please!", required: true %>
                <% if msg.count > 0 %>
                  <span class="help-block"><%= msg.first %></span>
                <% end %>
              </div>
            </div>
            <% msg = @message.errors.full_messages_for(:last_name) %>
            <div class="form-group <%= 'has-error' if msg.count > 0 %>">
              <div class="col-md-6">
                <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name please!", required: true %>
                <% if msg.count > 0 %>
                  <span class="help-block"><%= msg.first %></span>
                <% end %>
              </div>
            </div>
          </div>
          </div>
            <% msg = @message.errors.full_messages_for(:email) %>
            <div class="form-group <%= 'has-error' if msg.count > 0 %>">
              <div class="row">
                <div class="col-md-12">
                  <%= f.label :email, 'Contact Email*' %>
                  <%= f.email_field :email, class: "form-control", placeholder: "I'll reply to this email", required: true %>
                  <% if msg.count > 0 %>
                  <span class="help-block"><%= msg.first %></span>
                <% end %>
                </div>
              </div>
            </div>
            <% msg = @message.errors.full_messages_for(:subject) %>
            <div class="form-group <%= 'has-error' if msg.count > 0 %>">
              <div class="row">
                <div class="col-md-12">
                  <%= f.label :subject, 'Subject*' %>
                  <%= f.text_field :subject, class: "form-control", placeholder: "Your message in a nutshell", required: true %>
                  <% if msg.count > 0 %>
                  <span class="help-block"><%= msg.first %></span>
                <% end %>
                </div>
              </div>
            </div>
            <% msg = @message.errors.full_messages_for(:content) %>
            <div class="form-group <%= 'has-error' if msg.count > 0 %>">
              <div class="row">
                <div class="col-md-12">
                  <%= f.label :content, 'Message*' %>
                  <%= f.text_area :content, class: "form-control", placeholder: "What do you want to say?", rows: 5, required: true %>
                  <% if msg.count > 0 %>
                  <span class="help-block"><%= msg.first %></span>
                <% end %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <label for="message">Anti Bot Thingy*</label>
                  <%= recaptcha_tags %>
                </div>
              </div>
            </div>
            <%= f.submit "Send!", class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3"></div>
  <br/>
  <hr class="solid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h3 class="text-center">Additional Details</h3><br/>
      <p>Need to talk to me about your take-over-the-world scheme? You can download my PGP Key <a href="https://drive.google.com/open?id=0B3U-QtOXlE9WaWlTcU1PNWFnMEk">here</a>.</p> <br/>
      <p>Found a bug/exploit on my site? I'd really appreciate it if you'd disclose it to me first before publishing it as an accomplishment. Just fill up the form above or submit a pull request <a href="https://github.com/teh-username/ninja-corgi">here</a>. As a sign that I'm eternally grateful, I'll be putting your name below this paragraph as proof you are a cool person! Thanks a lot!</p>
      <p>Cool Persons List: </p>
      <p>*tumbleweed*</p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
