<% provide(:title, 'Portfolio') %>
<div class="container portfolio">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <%= image_tag('yi_logo.jpg', alt: 'Yilinker logo') %>
          </a>
        </div>
        <div class="media-body">
          <h3 class="media-heading"><a href="https://www.yilinker.com/"><u>Yilinker</u></a></h3>
          Currently part of the core development team in-charge of planning and executing planned features and functions for the <a href="https://express.yilinker.com/"><u>courier platform</u></a> of the company.
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <hr class="dashed">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <%= image_tag('es_logo.jpg', alt: 'EasyShop logo') %>
          </a>
          <a href="#">
            <%= image_tag('ed_logo.png', alt: 'EasyDeals logo') %>
          </a>
        </div>
        <div class="media-body">
          <h3 class="media-heading"><a href="https://www.easyshop.ph/"><u>EasyShop</u></a> / <a href="https://www.easydeal.ph/"><u>EasyDeal</u></a></h3>
          Spearheaded migration from Structured Query Language (SQL) based queries on Models to Object-Relational Mapping (ORM) of EasyShop. <br/><br/><br/><br/>Managed and maintained EasyDeal codebase by optimizing and refactoring existing features as well as augmenting the site with new functionalities. 
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <hr class="dashed">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <%= image_tag('hgst_logo.png', alt: 'HGST logo') %>
          </a>
        </div>
        <div class="media-body">
          <h3 class="media-heading"><a href="https://www.hgst.com/"><u>HGST Philippines</u></a></h3>
          Designed and created a robust Python-based backend application for run-to-run control of Carbon thickness deposition on head sliders. Constructed various high-quality and reliable software for key slider procedures regarding automation, regulation, fault-detection and machine interdiction
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <hr class="dashed">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <%= image_tag('ss_logo.png', alt: 'SkillShot Labs logo') %>
          </a>
        </div>
        <div class="media-body">
          <h3 class="media-heading"><a href="http://skillshotlabs.com/"><u>Skillshot Labs</u></a></h3>
          Lead the development of an in-house library for peer-to-peer multiplayer game setup over Wi-Fi using Unity3D and Java.
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <hr class="dashed">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 portfolio-1">
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <%= image_tag('ibm_logo.jpg', alt: 'IBM logo') %>
          </a>
        </div>
        <div class="media-body">
          <h3 class="media-heading"><a href="http://www.ibm.com/ph-en/"><u>IBM Philippines</u></a></h3>
          Helped restructuring and implementation of the network architecture of "Blue Room" (Server Test Room) which included creating a Storage Area Network (SAN) over Fibre Channel which enabled the servers to boot “over-the-network”. 
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <hr class="dashed">
  <div class="row">
    <p class="text-center">All trademarks and registered trademarks are the property of their respective owners.<br/>
      Add contact link here if ever something goes wrong</p>
  </div>
</div>
